* { margin:0; padding:0; }
html, body {height:100%;}
.header-bar {
	display: block;
	background-color: #3097d1;
}
.logo {
    max-width: 150px;
    display: inline-block;
}

.logo img {
	max-width: 100%;
}